.main {
  width: 900px;
  text-align: center;
  margin: 0 auto;
}
.section {
  margin-top: 100px;
  width: 420px;
  display: inline-block;
  margin-right: 56px;
}
.section:nth-child(2n + 2) {
  margin-right: 0;
}
.images {
  width: 420px;
  height: auto;
}
.under_picture_text {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  text-transform: uppercase;
  color: #b4ad9e;
  text-align: left;
  margin: 30px auto 0 auto;
}
.name_of_section {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  color: #626262;
  text-align: left;
  margin: 28px auto 0 auto;
}
.text_of_secction {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #626262;
  text-align: left;
  margin: 35px auto 0 auto;
}
.button {
  width: 164px;
  height: 60px;
  border: 1px solid #626262;
  margin-top: 55px;
}
.button_text {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #626262;
}
.button:hover {
  cursor: pointer;
}
